body {
  background-color: #C0C0C0;
}

.film-item {
  color: black;
  background-color: #C0C0C0;
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
}

.film-item-alt {
  color: black;
  background-color: lightgray;
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
}

.no-decoration-style{
  text-decoration: none;
}

.remove-bottom-margin {
  margin-bottom: 0px;
}

.account-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.account-row {
  padding-left: 10px;
}

.video-size {
  width: 100%;
  height: auto;
}

.my-form {
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .my-form {
    min-width: 90%;
  }
}

.contact-form {
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .contact-form {
    min-width: 90%;
  }
}

