{% extends "application/base.html" %}
{% block content %}
    <div class="bg-light p-4 col-5 rounded my-form bg-light">
        <div class="row text-center"><h1>Account gegevens</h1></div>
        <hr>
        <div class="row account-row">E-mail: {{ current_user.email }}</div>
        <div class="row account-row">Gebruikersnaam: {{ current_user.gebruikersnaam }}</div>
        <div class="row account-row">Wachtwoord:  {{ fake_password }}</div>
        <a href="{{ url_for('gebruikers_blueprint.verander_wachtwoord') }}" class="btn btn-secondary">Verander wachtwoord</a>
        <hr>
        <a href="{{ url_for('gebruikers_blueprint.verwijder_account') }}" class="btn btn-danger">Verwijder account</a>
    </div>
{% endblock %}