{% extends "application/base.html" %}
{% block content %}
    <div class="bg-light p-4 col-7 rounded mt-5">
        <form class="remove-bottom-margin row justify-content-evenly" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            {% for err in form.oude_wachtwoord.errors %}<li>{{ err }}</li>{% endfor %}
            {% for err in form.nieuwe_wachtwoord_check.errors %}<li>{{ err }}</li>{% endfor %}
            {% if form.oude_wachtwoord.errors|length > 0 or form.nieuwe_wachtwoord_check.errors|length > 0 %}<hr>{% endif %}

            {{ form.oude_wachtwoord.label(class_="col-3") }} {{ form.oude_wachtwoord(class_="col-8") }} <br>
            {{ form.nieuwe_wachtwoord.label(class_="col-3") }} {{ form.nieuwe_wachtwoord(class_="col-8") }} <br>
            {{ form.nieuwe_wachtwoord_check.label(class_="col-3") }} {{ form.nieuwe_wachtwoord_check(class_="col-8") }} <br>
            <a href="{{ url_for('films_blueprint.index', id=id) }}" class="btn btn-primary mt-3 col-5">Ga terug</a>
            {{ form.verander_wachtwoord(class_="btn btn-primary mt-3 col-5") }}
        </form>
    </div>
{% endblock %}
