<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">FilmFan</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{{ url_for('login') }}">Account</a>
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </div>
    </div>
    <form class="d-flex remove-bottom-margin">
        <input class="form-control me-2" type="search" placeholder="Zoek film" aria-label="Search">
        <button class="btn btn-light" type="submit">Zoek</button>
      </form>
  </div>
</nav>