{% extends  "base.html" %}
{% block content %}
    <div class="col-8 pt-4 pb-4">
        <div class="row bg-light p-2">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gBOkhiznRKs" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen class="embed-responsive-item">
                </iframe>
              </div>
        </div>
        <div class="row bg-light mt-2 text-center pt-2 pb-2">
            <div class="row bg-light ms-0">
                <div class="col-12">
                    <b>Titel:</b> {{ film_info.titel }} <small>({{ film_info.jaar }})</small>
                </div>
            </div>
            <div class="row bg-light ms-0">
                <div class="col-4">
                    {{ film_info.regisseur }} <br> <small>Regisseur</small>
                </div>
                <div class="col-4">
                    {{ film_info.regisseur }} <br> <small>Acteur</small>
                </div>
                <div class="col-4">
                    {{ film_info.regisseur }} <br> <small>Acteur</small>
                </div>

            </div>
        </div>
        <div class="row bg-light mt-2 p-2">
            <form class="remove-bottom-margin row ms-0" method="POST">
                {{ comment_form.csrf_token }}
                {{ comment_form.hidden_tag() }}
                {{ comment_form.commentaar }}
                {{ comment_form.voegtoe(class_="btn btn-primary mt-2") }}
                {% for mess in get_flashed_messages()  %}
                    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                        {{ mess }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="row bg-light mt-2 pt-2 pb-2">

        </div>
    </div>
{% endblock %}