{% extends  "base.html" %}
{% block content %}
    <div class="bg-light p-4 col-5 rounded my-form bg-light">
        <div class="row text-center"><h1>Pas op!</h1></div>
        <div class="row justify-content-center pb-2">Weet u zeker dat u uw account wilt verwijderen?</div>
        <div class="row justify-content-evenly">
            <a href="{{ url_for('index') }}" class="btn btn-primary col-4">Ga terug</a>
            <button type="button" class="btn btn-danger col-4">Verwijder account</button>
        </div>
    </div>
{% endblock %}
