{% extends  "application/base.html" %}
{% block content %}
    <div class="col-8 pt-4 pb-4">
        <div class="row bg-light mt-2 text-center pt-2 pb-2">
            <div class="row bg-light ms-0">
                <div class="col-12 justify-content-start">
                    <form class="remove-bottom-margin ms-0" method="POST">
                        {{ editform.csrf_token }}
                        {{ editform.hidden_tag() }}
                        {{ editform.trailer_link.label(class_="col-2") }} {{ editform.trailer_link(class_="col-6") }} <br>
                        {{ editform.titel.label(class_="col-2") }} {{ editform.titel(class_="col-6") }}
                        <br>
                        {{ editform.jaar.label(class_="col-2") }} {{ editform.jaar(class_="col-6") }}
                        <br>
                        {{ editform.regisseurs.label(class_="col-2") }} {{ editform.regisseurs(class_="col-6") }}
                        <br>
                        {{ editform.verander(class_="btn btn-primary col-6 mt-2") }}
                    </form>
                    <hr>
                </div>
            </div>
            <div class="row bg-light ms-0">
                {% for i in range(0, rollen|length) %} 
                    <div class="col-4 mb-2">
                        {{ acteurs[i].voornaam }} {{ acteurs[i].achternaam }}<br><small>{{ rollen[i].naam_personage }}</small><br>
                        <a href="{{ url_for('films_blueprint.rol_veranderen', acteur_id=acteurs[i].id, rol_id=rollen[i].id, id=current_film.id) }}" class="btn btn-primary mt-2 col-6">Pas aan</a>
                    </div>
                {% endfor %}
                <hr>
                <div class="justify-content-evenly">
                    <a href="{{ url_for('films_blueprint.acteur_toevoegen', id=current_film.id) }}" class="btn btn-primary col-5">Acteur toevoegen</a>
                    <a href="{{ url_for('films_blueprint.acteur_verwijderen', id=current_film.id) }}" class="btn btn-danger col-5">Acteur verwijderen</a> <br>
                    <a href="{{ url_for('films_blueprint.rol_toevoegen', id=current_film.id) }}" class="btn btn-primary mt-2 mb-2 col-5">Rol toevoegen</a>
                    <a href="{{ url_for('films_blueprint.rol_verwijderen', id=current_film.id) }}" class="btn btn-danger mt-2 mb-2 col-5">Rol verwijderen</a>
                </div>
                <hr>
                <div class="justify-content-evenly">
                    <a href="{{ url_for('films_blueprint.film_verwijderen', id=current_film.id) }}" class="btn btn-danger mt-1 mb-2 col-8">Film verwijderen</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}