{% extends "application/base.html" %}
{% block content %}
    <div class="col-8 pt-4 pb-4 bg-light">
        {% with errors = get_flashed_messages(category_filter=["aanpassing"]) %}
            {% if errors %}
                {%- for msg in errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('films_blueprint.film_toevoegen') }}" class="btn btn-primary col-12"><b>Film toevoegen</b></a> 
        {% endif %}
        {% for i in range(0, len) %} 
            {% if i % 2 == 0 %}
                <div class="film-item">
                    <a href="{{ url_for('films_blueprint.film', film_id=Films[i].id) }}" class="remove-bottom-margin no-decoration-style"><b> {{ Films[i].titel }} </b></a> 
                    <small>({{ Films[i].jaar }})</small>
                    <p class="remove-bottom-margin"><small>Regisseur:  {{ Regisseurs[Films[i].regisseur_id - 1] }}</small></p>
                </div>
            {% else %}
                <div class="film-item-alt">
                    <a href="{{ url_for('films_blueprint.film', film_id=Films[i].id) }}" class="remove-bottom-margin no-decoration-style"><b> {{ Films[i].titel }} </b></a> 
                    <small>({{ Films[i].jaar }})</small>
                    <p class="remove-bottom-margin"><small>Regisseur: {{ Regisseurs[Films[i].regisseur_id - 1] }}</small></p>
                </div>
            {% endif %}
        {% endfor %} 
    </div>
{% endblock %}

